<app-page-header [title]="pageTitle"></app-page-header>
<ion-grid [fixed]="true">
  <ion-col></ion-col>
  <ion-col offset="6" size="2">
    <ion-searchbar
      [debounce]="1000"
      (ionInput)="handleInput($event)"
      placeholder="Chocochip cookies"
    ></ion-searchbar>
    <p>No. Cookies {{ cookieListCount }}</p>
  </ion-col>
  <ion-col></ion-col>
</ion-grid>
<ion-grid [fixed]="true" class="cookie-grid">
  <ion-row scrollX="true" class="scroll-items">
    <ion-col size="4" *ngFor="let cookie of cookieList">
      <app-cookie-item [cookieItem]="cookie"></app-cookie-item>
    </ion-col>
  </ion-row>
</ion-grid>
